.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}

body {
    background-color: black;
}

.siliconValley {
    width: 25%;
    height:25%;
}

#caption {
    font-size: 20px;
}

#tomImg {
    border-radius: 50%;
    width: 50px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

#tom {
    color: grey;
}

.result {
   text-align:center;
}

button {
    margin-top: 10px;
    color: white;
    background-color: red;
    font-size: 40px;
    border-radius: 25px;
    border:3px groove black ;
    font-family: monospace;
}

body{

    margin-left:20px;
    
}
h1{
    font-family: 'Coiny', cursive;
    color:#0000FF;
}
h2{
    font-family: 'Roboto Mono', monospace;
    color:white;
    
}
p{
    
color:white;
}
button:hover{
        cursor:url(black.cur),auto;
}
h1:hover{
        cursor:url(brown.cur),auto;
}
image:hover{
        cursor:url(.cur);
}
#question1:hover{
    cursor:url(blue.cur),auto;
}
#question2:hover{
   cursor:url(gray.cur),auto;
}
#question3:hover{
  cursor:url(green.cur),auto;
}
#question4:hover{
 cursor:url(pink.cur),auto;
}
#question5:hover{
 cursor:url(purple.cur),auto;
        
}
#question6:hover{
 cursor:url(red.cur),auto;
}